{{ define "main" }}
<main>
    {{ if .Title }}
	  	<h1>{{ .Title }}</h1>
  	{{ end }}

    <p><i>{{ partial "time.html" .Date }}</i></p>

	{{ with .Params.audio }}
	    <script type="text/javascript" src="https://micro.blog/narration.js?url={{ . }}"></script>
	{{ end }}

	{{ if .Params.author }}
	    <p>by {{ .Params.author.name }}</p>
	{{ end }}

	{{ .Content }}

	{{ if .Params.categories }}
	    <p class="tags">
            {{ range .Params.categories }}
                {{ $href := print (absURL "categories/") (urlize .) }}
                <a href="{{ $href }}">#{{ lower . }}</a>
            {{ end }}
        </p>
	{{ end }}

    {{ if .Site.Params.include_conversation }}
        <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
    {{ end }}
</main>
{{ end }}
