{{ define "main" }}
<main class="main container">
	<div class="content">
    {{ .Content }}
    <ul class="list  list--posts">
      {{ range site.RegularPages }}
        <li class="item  item--post">
          <article class="article  article--post  typeset">
            <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
            {{ partial "post_meta.html" . }}
            <p>{{ .Summary }}</p>
          </article>
        </li>
      {{ end }}
    </ul>
  </div>
</main>
{{ end }}
