{{ define "main" }}
<main class="main container">
  <div class="content">
    <article class="article article--page typeset">
      <h1>Archive</h1>
      <p>
        Below is a full list of posts sorted from newest to oldest.
        You can also find posts by visiting any of these category pages:
      </p>
      <ul>
        {{ $list := sort ($.Site.GetPage "taxonomyTerm" "categories").Pages "Title" }}
        {{ range $index, $element := $list }}
          <li><a href="{{ $element.Permalink }}">{{ $element.Title }}</a></li>
        {{ end }}
      </ul>
    </article>
    <article class="article article--page typeset">
      <h2>Full post list</h2>
      {{ $list := (where .Site.Pages "Type" "post") }}
      <ul>
      {{ range $list }}
        <li>
          <a href="{{ .Permalink }}" class="u-url"><span class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Date.Format "02 Jan 2006" }}</span></a>:
          {{ if .Title }}
          <span class="p-name"><b>{{ .Title }}</b></span>
          {{ end }}
          <span class="p-summary">{{ .Content | plainify | htmlUnescape | truncate 150 }}</span>
        </li>
      {{ end }}
      </ul>
    </article>
  </div>
</main>
{{ end }}
