{{ define "main" }}
<main class="main container">
  <div class="content">
    <article class="article article--page typeset">
      <h1>Archive</h1>
      <p>
        Below is a full list of posts sorted from newest to oldest.
        You can also find posts by visiting any of these category pages:
        {{ $list := sort ($.Site.GetPage "taxonomyTerm" "categories").Pages "Title" }}
        {{ range $index, $element := $list }}
          <a href="{{ $element.Permalink }}">{{ $element.Title }}</a>{{ if (lt (add $index 1) (len $list)) }},{{ end }}
        {{ end }}
      </p>
    </article>
    <article class="article article--page typeset">
      <h2>Full post list</h2>
      {{ $list := (where .Site.Pages "Type" "post") }}
      <p>
      {{ range $list }}
        <a href="{{ .Permalink }}" class="u-url"><span class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ partial "dateformat/short" . }}</span></a>:
        {{ if .Title }}
        <span class="p-name"><b>{{ .Title }}</b></span>
        {{ end }}
        <span class="p-summary">{{ .Content | plainify | htmlUnescape | truncate 150 }}</span>
      {{ end }}
      </p>
    </article>
  </div>
</main>
{{ end }}
