.article.article--micropost {
  .post-meta::before {
    content: '-';
    visibility: hidden;
    display: block;
  }
}

.article .read-more {
  display: inline-block;
}

.post-meta-permalink {
  color: $captionColour;

  &:hover, &:active, &:focus {
    color: darken($captionColour, 20%);
    background-position: 0 93%;
    background-repeat: repeat-x;
    background-size: 100% 0.15rem;
    text-shadow: 0.1rem 0 $backgroundColour,
                 0.15rem 0 $backgroundColour,
                -0.1rem 0 $backgroundColour,
                -0.15rem 0 $backgroundColour;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,$captionColour 50%);
  }
}