<header class="header">
  <div class="container">
    <a class="logo" href="/">
      <img src="{{ .Site.Author.avatar }}" alt="{{ .Site.Title }} Profile Photo"/>
    </a>
    <nav class="nav">
      <ul class="list list--nav">
        {{ range .Site.Menus.main }}
          {{ if .Page.Params.redirect_url }}
            <li class="item item--nav"><a href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a></li>
          {{ else }}
            <li class="item item--nav"><a href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
          {{ end }}
        {{ end }}
      </ul>
    </nav>
  </div>
</header>
