{{ define "main" }}
<main>
    <div class="home-post-list">
    {{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") }}
    {{ range $paginator.Pages  }}
        <div class="home-post-entry">
            {{ if .Title }}
                <h1 style="margin-bottom: 0;"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
                <p style="margin-top: 0;"><i>{{ partial "time.html" .Date }}</i></p>
            {{ else }}
                <p><i><a href="{{ .Permalink }}">{{ partial "time.html" .Date }}</a></i></p>
            {{ end }}
            {{ .Content }}
        </div>
    {{ end }}
    </div>

</main>
{{ end }}
